# mac
_OSXUnicodeDbg
_OSXUnicode
UnicodeCore.build
bgwidgets.xcodeproj/*
!bgwidgets.xcodeproj/project.pbxproj
.DS_Store

#windows
Release
UDeb
URel
URel64
UDeb64
.vs
*.ncb
/*.suo
/*.sln
/*.user
/*.sdf
